.movie-card {
  display: flex;
  background-color: #fff;
  overflow: hidden;
  width: 451px;
  height: 279px;
  margin: 0.5em;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.movie-card:hover {
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 5px 12px rgba(0, 0, 0, 0.09);
}

.movie-card__image {
  max-width: 100%;
  flex-shrink: 0;
}

.movie-card__content {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  width: calc(100% - 1em);
}

.movie-card__title {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.2em;
}

.movie-card__date {
  font-size: 12px;
  color: #827e7e;
}

.movie-card__genre {
  width: fit-content;
  padding: 0.2em 0.3em;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fafafa;
}

.movie-card__description {
  font-size: 12px;
  line-height: 1.8;
  color: #000;
}
