@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  background-color: #ffffff;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.ant-tabs {
  width: 1010px;
  justify-content: center;
}

.ant-tabs-nav-wrap {
  margin-top: 1.5em;
  justify-content: space-around;
}

.spinner-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-alert {
  width: fit-content;
  margin: 0 auto;
}

.pagination {
  padding: 20px;
}
