@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin-inline: auto;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.ant-tabs {
  width: 1200px;
  justify-content: center;
  margin: 2em;
}

.ant-tabs-nav-wrap {
  margin-top: 1.5em;
  justify-content: space-around;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}

.ant-tabs-nav {
  display: flex;
  justify-content: center;
  position: relative;
}

.ant-tabs-nav-list {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  width: fit-content;
  margin: 0 auto;
}

.spinner-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-alert {
  width: fit-content;
  margin: 0 auto;
}

.pagination {
  padding: 20px;
}
