@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  background-color: #ffffff;
}

.spinner-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
